POSTGRES_DB=digital_whiteboard
POSTGRES_USER=digital_whiteboard
POSTGRES_PASSWORD=digital_whiteboard

DATABASE_URL=jdbc:postgresql://localhost:5432/digital_whiteboard
DATABASE_USERNAME=digital_whiteboard
DATABASE_PASSWORD=digital_whiteboard

NEXT_PUBLIC_API_URL=http://localhost:8080
